<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Language" content="en" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="alternate" title="Advent Calendar RSS feed" href="[% c.uri_for('/rss', year) %]" type="application/atom+xml" />
    <link rel="stylesheet" href="[% c.uri_for( '/static/css/screen.css' ) %]" type="text/css" />
    <title>Catalyst Advent Calendar[% IF day %] - Day [% day %][% END %]</title>
</head>
<body>
    <div id="contentwrapper">
        <div id="header">
            <h1><a href="[% c.uri_for( '/' ) %]">Catalyst Advent Calendar</a></h1>
        </div>
[% UNLESS pod %]
	<p id="note">25 days of Catalyst tips!</p>
[% END %]

        <div id="content">
[%- IF retired OR (days_until AND days_until > 0) %]
    [%- IF !retired %]
<h2>[% days_until %] [% IF days_until == 1 %]day[% ELSE %]days[% END %] until the calendar starts!</h2>
        [%- IF previous_years %]
<p class="center">In the mean time, you might want to check our archives.</p>
        [%- END %]
    [%- ELSE %]
        [%- PROCESS retired.tt -%]
        [%- IF previous_years %]
<p class="center">Please check out the archive of articles from previous
years.</p>
        [%- END %]
    [%- END %]
<p class="center">
[% FOREACH previous_year IN previous_years %]
    <a href="[% c.uri_for('/', previous_year) %]">[% previous_year %]</a>[% UNLESS loop.last %] - [% END %]
[% END %]
</p>
[% ELSE %]
[% content %]
[% END %]
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
    <script src="[% c.uri_for('/static/js/shCore.js') %]" type="text/javascript"></script>
    <script src="[% c.uri_for('/static/js/shBrushPerl.js') %]" type="text/javascript"></script>
    <link href="[% c.uri_for('/static/css/shCore.css') %]" rel="stylesheet" type="text/css" />
    <link href="[% c.uri_for('/static/css/shThemeDefault.css') %]" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        $(document).ready(function() {
            $('pre').addClass('brush: perl');
            SyntaxHighlighter.defaults['toolbar'] = false;
            SyntaxHighlighter.defaults['auto-links'] = false;
            SyntaxHighlighter.all();
        });
    </script>
</body>
</html>
